.top{
    margin-top: -10px;
    margin-bottom: -10px;
    padding: 0.5px;
    background: lightsalmon;
    color: white;
    margin: 0px;
    text-decoration: none;
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-decoration: none;
}
h1{
    margin-left: 30px;
}
a:link{
    margin: 0px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-decoration: none;
}
a{
    color:white;
}
#header{
    background:  lightsalmon;
    padding: px;
    margin-top: 10px;
    border-radius: 30px;
    color: white;
}

table{
    margin-top: 20px;
    border: 1.5px solid black;
    width: 80%;
}
tr, th,td{
    border: 1px solid black;
    
}
td>a:link{
    color: blue;
}
td>a:hover{
    color: blueviolet;
}

.image-preview{
    width: 300px;
    min-height: 100px;
    border: 2px solid #dddddd;
    margin-top: 15px;
    